<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Télécharger un fichier</title>
</head>
<body>
    <h1>Téléchargez un fichier</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" required><br><br>
        <label for="file">Sélectionnez un fichier:</label>
        <input type="file" name="file" required><br><br>
        <input type="submit" value="Télécharger">
    </form>
</body>
</html>
